################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto - Visual Studio/Projeto - Visual Studio.VC.VC.opendb
